@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,100&display=swap");
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

.root {
  padding: 0;
  margin: 0;
}

/* Exclude tailwind styling for markdown components */
.markdown > * {
  all: revert;
}
